ConfigSamples/LwiTestService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://telekom.hu/LwiTestService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LwiTestService" targetNamespace="http://telekom.hu/LwiTestService/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://telekom.hu/LwiTestService/">
      <xsd:element name="helloLwi" >
      
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
          <xsd:attribute name="RequestId" type="xsd:string" use="optional"/>
          <xsd:attribute name="CorrelationId" type="xsd:string" use="optional"/>
          <xsd:attribute name="UserId" type="xsd:string" use="optional"/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="helloLwiResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="helloLwiRequest">
    <wsdl:part element="tns:helloLwi" name="request"/>
  </wsdl:message>
  <wsdl:message name="helloLwiResponse">
    <wsdl:part element="tns:helloLwiResponse" name="response"/>
  </wsdl:message>
  <wsdl:portType name="LwiTestService">
    <wsdl:operation name="helloLwi">
      <wsdl:input message="tns:helloLwiRequest"/>
      <wsdl:output message="tns:helloLwiResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LwiTestServiceSOAP" type="tns:LwiTestService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="helloLwi">
      <soap:operation soapAction="http://telekom.hu/LwiTestService/helloLwi"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LwiTestService">
    <wsdl:port binding="tns:LwiTestServiceSOAP" name="LwiTestServiceSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
